<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alpine.min.js') }}" defer></script>
    <!-- <style>[x-cloak] { display: none; !important; }</style> -->
    <title>RSS Feed Reader</title>
</head>
<body>
    {% block content %}
    {% endblock content %}
</body>
</html>